/* @Maxylan */

/*
span.savie-new-content {
    font-family: "Noto Sans", Roboto, monospace;
}
*/

span.savie-old-content-backup {
    display: none;
}

div.savie-hover {
    display: initial;
    position: absolute;
    z-index: 97;
    overflow-x: scroll;
    opacity: 1;
    color: rgb(21, 20, 26);
    font-family: "Noto Sans", Roboto, monospace;
    font-size: 12px;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 0.75rem;
    padding: 0.64rem;
    width: 24rem;
    transition: display 0.16s, opacity 0.32s linear;
}
div.savie-hover-hidden.savie-hover-hidden {
    display: none;
    opacity: 0;
}

h3#savie-tta-headline { 
    color: rgb(21, 20, 26);
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Noto Sans", Roboto;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0.32rem 0;
}

p#savie-tta-paragraph { 
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0.32rem 0;
}

div.savie-graph {
    /* `overflow-x` always cuts-off 'savie-graph-datapoint-content' which is obsurd.
    overflow-x: scroll;
    overflow-y: visible;
    */
    padding: 0.32rem 0;
    margin: 0.32rem 0;
}

div.savie-income-graph {
    display: flex;
    width: fit-content;
    min-width: 100%;
    padding: 0 0.8rem;
    margin-top: 0.8rem; 
}

span.savie-graph-year-separator {
    font-size: 8px;
    width: fit-content;
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
    margin: auto 0.24rem auto 0.24rem;
}

span.savie-graph-datapoint {
    display: grid;
    height: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0.5rem;
    max-width: 2rem;
}

div.savie-income-graph span.savie-graph-datapoint-hover, span.savie-graph-datapoint-hover span { 
    opacity: 1;
}
span.savie-graph-datapoint-hover span.savie-graph-datapoint-occasion { 
    height: 12px;
    top: -6px;
}

span.savie-graph-datapoint-line {
    position: relative;
    border-top: #888 1px solid;
    border-bottom: #aaaaaa 1px solid;
    opacity: 0.48;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    transition: opacity 0.16s linear;
}
span.savie-graph-datapoint-line.savie-graph-datapoint-inactive { 
    border-top: #aaaaaa 1px solid;
    border-bottom: #eee 1px solid;
    opacity: 0.32;
}

span.savie-graph-datapoint-occasion {
    display: initial;
    position: absolute;
    border-left: #15141A 1px solid;
    opacity: 0.32;
    height: 8px;
    top: -4px;
    left: 50%;
    transition: opacity 0.16s linear;
}
span.savie-graph-datapoint-inactive span.savie-graph-datapoint-occasion {
    border-left: #aaaaaa 1px solid;
    opacity: 0.24;
}

span.savie-graph-datapoint-content { 
    display: initial;
    position: absolute;
    z-index: 98;
    top: -2rem;
    left: -1rem;
    background: #F9F9F9;
    border-radius: 0.24rem;
    padding: 0.16rem 0.24rem;
    opacity: 0.64;
    text-wrap: nowrap;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: display 0.16s, opacity 0.24s linear;
}
span.savie-graph-datapoint-content.savie-graph-datapoint-hidden { 
    display: none;
}
