/*
IDs:

    root
    select
    relative-select-wrapper
    choose-settings
    choose-income
    absolute-selector
    settings-page
    settings
    add-income
    income-page
    income
    form-submit

Classes:

    button
    select-choice
    selected
    page
    single-income
    remove-single-income
    income-container
    income-input
    income-label
    income-slider
    date-input

Elements:

    header
    div
    fieldset
    span
    form
    footer
*/

body {
    font-family: "Noto Sans", Roboto, monospace;
    font-size: 14px;
}

.page {
    display: none;
    width: fit-content;
}

.page form {
    display: flex;
    flex-direction: column;
}

div.page.selected {
    display: block;
}

#select { 
    width: fit-content;
    border: none;
    border-radius: 0.5rem;
    background: #F9F9F9;
    box-shadow: 0 0 0.1rem 0.1rem rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 0 0.1rem 0.1rem rgba(0,0,0,0.1) inset;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

#relative-select-wrapper {
    position: relative;
    z-index: 1;
}

.select-choice {
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 0.25rem;
    margin: 0;
    width: 5rem;
    z-index: 3;
}

#absolute-selector {
    position: absolute;
    background: white;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 0.2rem 0.1rem rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 0.2rem 0.1rem rgba(0,0,0,0.2);
    height: 100%;
    width: 5.5rem;
    left: 0;
    z-index: 2;
}

.button {
    margin: 0.25rem;
    padding: 0.125rem 0.25rem;
    border: 1px solid #c8c8c8;
    border-radius: 0.25rem;
}

.single-income, fieldset {
    margin: 0.25rem;
    padding: 0.125rem;
    display: flex;
    align-items: center;
}
.single-income {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 18rem;
    border-radius: 0.25rem;
    border: 2px solid #c8c8c8;
}
fieldset { 
    flex-direction: row;
    padding: 0;
    border: none;
}

fieldset.income-container {
    min-width: 12rem;
}
fieldset.date-container {
    width: min-content;
    flex-wrap: wrap;
    flex-grow: 1;
}

label {
    margin: 0.125rem 0.25rem;
}
.income-input, .income-label, .income-slider, .date-input {
    display: inline-block;
    margin: 0.125rem 0.25rem;
}

input[type="date"], input[type="number"] {
    border-radius: 0.25rem;
    border: 1px solid #c8c8c8;
    margin: 0.125rem 0.25rem;
    padding: 0.125rem;
}

.income-container .income-input {
    max-width: 20%;
    min-width: 2.5rem;
}

.income-container .income-slider {
    width: -moz-available;
}

.single-income-info-and-actions button {
    max-height: 2rem;
    max-width: 2rem;
    font-size: 1.25rem;
}
.single-income-info-and-actions button:disabled {
    background: #c8c8c8;
}
.remove-single-income {
    background: #FDDDDD;
}

form#income {
    border: none;
    border-radius: 0.5rem;
    background: #F9F9F9;
    box-shadow: 0 0 0.25rem 0.125rem rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0 0 0.25rem 0.125rem rgba(0,0,0,0.2) inset;
    padding: 0.75rem;
}
